* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;

}

.form {
  width: 550px;
  background: 
  #880E4F
 ; 
  padding: 33px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 60px;
  border-radius: 8px;
  font-family: "calibri";
  color:white;
}

.form h4 {
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.form h3 {
  font-size: 20px;
  margin-bottom: 0px;
}

.form h2 { 
    font-size: 18px;
    
}

.blankspace {
  background: white ;
  width: 90%;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 2px;

}

.select {
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 8;
}

.buttons{
  font-size: 20px;
  border-radius: 9px;
  background: #CE93D8;
  color: black;
  padding: 8px;
  width: 100%;
  margin-bottom: 4px;
  border-color: #CE93D8;
}

.fieldset{
  border-radius: 8px;
  font-family: "calibri";
  color:white;
  
}
