{% extends 'base.html' %}
{% block content %} 
<div class="row">
    <div class="col s12 m6">
      <div class="card">

    
            <fieldset class=fieldset>
                <div class="progress">
                    <div class="determinate" style="width: 70%"></div>
                </div>
            <legend><h4> <i class="small material-icons left">fingerprint</i>Agregar usuario</h4></legend>
             {% include 'usuarios/form3.html' %}
            


        
      </div>
    </div>
    
</div>

{% endblock content  %}         